body {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 2px;
    background-color: rgb(73, 6, 55);
}

.faseDeGrupos {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-image: url('../public/imgs/fundoGrupos.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.titulo {
    color: white;
    font-size: 50px;
    text-align: center;
}

.grupo {
    width: 100%;
    padding: 10px;
    font-size:30px;
    color: white;
    text-align: left;
}
.flagPais {
    width: 40px;
    height: 40px;
    padding-left: 25px;
    padding-right: 10px;
}

.resultadosGrupos {
    font-size: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
    background-image: url('../public/imgs/fundoRodadas.jpeg');
    background-size: cover;
}

table.rodadasGrupo {
    border: solid white 1px;
    width: 100%;
    justify-content: center;
}

table.classGrupos {
    border: 1px solid white;
}

table.classGrupos td {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 150px;
}

.divClassGrupos {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.ClassificacaoDosGrupos {
    background-image: url('../public/imgs/fundoClassGrupos.webp');
    background-size: cover;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    font-size: 16px;
}

.classificados {
    background-color: green;
}

.mata-mata {
    text-align: center;
    justify-content: center;
    background-image: url('../public/imgs/fundoMataMata.webp');
    background-size: cover;
}

table.eliminatorias {
    display: flex;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    justify-content: center;
}

table.eliminatorias tr {
    border: 1px solid white;
}

table.eliminatorias tr td {
    width: 200px;
    height: auto;
    justify-content: space-evenly;
}

